# Токен бота Telegram
BOT_TOKEN=

# База данных PostgreSQL
DB_HOST=
DB_PORT=5432
DB_NAME=
DB_USER=
DB_PASSWORD=

# RemnaWave API
REMNAWAVE_URL=
REMNAWAVE_JWT_SECRET=

# Имя сквадов для пользователя
REMNAWAVE_INTERNAL_SQUAD=
REMNAWAVE_EXTERNAL_SQUAD=

# Имя профиля для пользователя
REMNAWAVE_PROFILE=

# Юзернейм аккаунта поддержки
SUPPORT_USERNAME=

# Пользовательское соглашение и политика конфиденциальности (full url)
USER_AGREEMENT_URL=
PRIVACY_POLICY_URL=

# Токен CryptoBot
CRYPTO_BOT_TOKEN=

# Токен и ID Platega
PLATEGA_TOKEN=
PLATEGA_MERCHANT_ID=

# Длительность бесплатного ключа (в днях) (ПРИМЕНЯЕТСЯ ТОЛЬКО ПРИ ПЕРВОМ ЗАПУСКЕ!!!!)
FREE_TRIAL_DAYS=

# Цены подписки (rub) (ПРИМЕНЯЮТСЯ ТОЛЬКО ПРИ ПЕРВОМ ЗАПУСКЕ!!!!)
SUB_PRICE_1_MONTH=
SUB_PRICE_3_MONTHS=
SUB_PRICE_6_MONTHS=
SUB_PRICE_12_MONTHS=

# Коэффициент для расчета цены в звездах
STARS_COEFFICIENT=1.7

# Чат для логов
LOG_CHAT_ID=

# Чат для системных логов
LOG_SYSTEM_CHAT_ID=

# Картинка для inline query
THUMBNAIL_IMAGE=